MINIO_ROOT_USER=minioadmin
MINIO_ROOT_PASSWORD=change-me

POSTGRES_USER=postgres
POSTGRES_PASSWORD=change-me

VIDEO_DB_USER=video_user
VIDEO_DB_PASSWORD=change-me

USER_DB_USER=user_service_user
USER_DB_PASSWORD=change-me

PROCESSING_DB_USER=processing_service_user
PROCESSING_DB_PASSWORD=change-me